InGameScreen {
    layout: grid;
    grid-size: 2 2;
    grid-rows: 1fr 7;
    grid-columns: 25 1fr;
    grid-gutter: 0 3;

    Sidebar {
        offset-x: 1;
    }

    Players, Actions {
        offset-x: -1;
    }
}

Sidebar, Players, Actions {
    border: double $panel;
    border-title-color: $text-secondary;

    &:focus {
        border: double $border;
        border-title-color: $text-primary;
    }
}
